* {
  accent:           #bd93f9;
  background-color: #1e1f28;
  background-light: #1C252A;
  foreground:       #f8f8f2;
  on:               #5BB462;
  off:              #DE635E;
  text-color: #f8f8f2;
}

window {
}
